<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
</head>
<body>
    <h2>edit your post</h2> <br> <br>
    <h3>username : @<%= post.username %></h3>
    <h3>post id : <%= post.id %></h3>
    <form method="post" action="/posts/<%= post.id %>?_method=patch">

        <textarea cols="30" rows="20" name="content" id="" ><%= post.content%></textarea><br>
        <button type="submit">Edit</button>
    </form>
</body>
</html>